<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--
    index.js 추가. 경로는 아래 내용을 참고해서 작성
    - 스프링 부트는 기본적으로 src/main/resources/static에 위치한
      정적 파일(js,css,image)들을 URL에서 /로 설정한다.
-->
<script src="/js/app/index.js"></script>
</body>
</html>